<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">

<div class="outer-container">
  <router-outlet>
    <div class="title-container">
      <p class="page-subtitle"> Feedback </p>
    </div>
    <main class="main">

      <div class="content">
        <div class="left-side">
          <p>Agradecemos tu preferencia, y queremos saber tu opinión. Ingresa un comentario en la siguiente sección para que sepamos cómo te sientes y mejoremos nuestro sistema.</p>
        </div>

      </div>
    </main>

    <div class="feedback-container">
  <div class="outer-container">
    <mat-form-field appearance="fill" class="wide-textarea">
      <mat-error *ngIf="!textareaValue">Este campo es obligatorio</mat-error>
      <textarea matInput placeholder="Escribe aquí..." rows="3" [(ngModel)]="textareaValue" required></textarea>
    </mat-form-field>

  </div>

  <div class="feedbackResponse-container">
    <div class="title-container">
      <p class="page-title"> Tu Feedback:</p>
    </div>
    <div class="star-rating">
      <mat-icon *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
        {{ i < rating ? 'star' : 'star_border' }}
      </mat-icon>
    </div>
    <div class="button-container">
      <button class="pill" (click)="getFeedbackResponse()">Enviar feedback</button>
    </div>
    <div class="content">
      <div class="title-container">
      <div class="left-side">
        <p> {{feedbackResponse}}</p>
      </div>
      </div>

    </div>
    </div>
    
  </div>

  </router-outlet>
</div>

