<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">

<div class="outer-container">
  <router-outlet>
    <div class="title-container">
      <p class="page-subtitle"> Feedback </p>
    </div>
    <main class="main">

      <div class="content">
        <div class="left-side">
          <p>Agradecemos tu preferencia, y queremos saber tu opinión. Ingresa un comentario en la siguiente sección para que sepamos cómo te sientes y mejoremos nuestro sistema.</p>
        </div>

      </div>
    </main>
    <div class="button-container">
      <button class="pill">Enviar feedback</button>
    </div>
  </router-outlet>
</div>

