<div class="login">
  <form class="custom-form" (ngSubmit)="login()" #registerForm="ngForm" novalidate>
      <h1>Login</h1>
      
      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        #emailInput="ngModel"
        placeholder="Email"
        required
        email
      />
      <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched || registerForm.ngSubmit)" class="error-message">
        <div *ngIf="emailInput.errors?.['required']">Ingrese su correo.</div>
        <div *ngIf="emailInput.errors?.['email']">Por favor ingrese un correo válido.</div>
      </div>
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        #passwordInput="ngModel"
        placeholder="Contraseña"
        required
        minlength="6"
      />
      <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched || registerForm.ngSubmit)" class="error-message">
        <div *ngIf="passwordInput.errors?.['required'] || passwordInput.errors?.['minlength']">Ingrese una contraseña de al menos 6 caracteres.</div>
      </div>

      <button type="submit" (click)="login()" [disabled]="registerForm.invalid">Ingresar</button>
      <a class="register-link" routerLink="/user-registration-component">No tengo una cuenta</a>
      <a class="register-link">Olvidé mi contraseña</a>
    </form>
  </div>