<div class="register">
  <form class="custom-form" (ngSubmit)="register()" #registerForm="ngForm" novalidate>
    <h1>Registrarse</h1>

    <input
    type="name"
    [(ngModel)]="name"
    name="name"
    #nameInput="ngModel"
    placeholder="Nombre"
    required
    email
  />
  <div *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched || registerForm.ngSubmit)" class="error-message">
    <div *ngIf="nameInput.errors?.['required']">Ingrese su nombre.</div>
  </div>

  <input
    type="email"
    [(ngModel)]="email"
    name="email"
    #emailInput="ngModel"
    placeholder="Email"
    required
    email
  />
  <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched || registerForm.ngSubmit)" class="error-message">
    <div *ngIf="emailInput.errors?.['required']">Ingrese su correo.</div>
    <div *ngIf="emailInput.errors?.['email']">Por favor ingrese un correo válido.</div>
  </div>

    <input
      type="password"
      [(ngModel)]="password"
      name="password"
      #passwordInput="ngModel"
      placeholder="Contraseña"
      required
      minlength="4"
    />
    <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched || registerForm.ngSubmit)" class="error-message">
      <div *ngIf="passwordInput.errors?.['required'] || passwordInput.errors?.['minlength']">Ingrese una contraseña de al menos 4 caracteres.</div>
    </div>

    <input
    type="password"
    [(ngModel)]="recovery_pin"
    name="recoveryPin"
    #recoveryPinInput="ngModel"
    placeholder="Pin de recuperación"
    required
    minlength="4"
  />
    <div *ngIf="recoveryPinInput.invalid && (recoveryPinInput.dirty || recoveryPinInput.touched || registerForm.ngSubmit)" class="error-message">
      <div *ngIf="recoveryPinInput.errors?.['required'] || recoveryPinInput.errors?.['minlength']">Ingrese un pin de recuperación de 4 digitos.</div>
    </div>

    <button type="submit">Registrarme</button>
    <a class="register-link" routerLink="/user-login-component">Volver a Login</a>
  </form>
</div>



