<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">

<div class="outer-container">
  <router-outlet>
    <div class="title-container">
      <p class="page-title"> {{ title }}</p>
      
    </div>

    <div class="nav-bar">
      <div class="button-group">
        <button class="pill" routerLink="/menu-component">Menu</button>
        <button class="pill" routerLink="/time-recommendation-component">Disponibilidad de Horarios</button>
        <ng-container>
          <button class="pill" routerLink="/user-reservations-component" *ngIf="isUser">Mis Reservas</button> <!-- User logged -->
        </ng-container>
        <ng-container>
        <button class="pill" routerLink="/admin-reservations-component" *ngIf="isAdmin">Ver Reservas</button> <!-- Admin view -->
      </ng-container>
      <button class="pill" routerLink="/feedback-component" *ngIf="isUser">Quiero dar Feedback</button>
      </div>
      <button class="login-icon" mat-icon-button routerLink="/user-login-component" *ngIf="!isUser && !isAdmin">
        <mat-icon>person</mat-icon>
      </button>
      <button class="login-icon" mat-icon-button routerLink="/user-login-component" (click)="logout()" *ngIf="isUser">
        <mat-icon>logout</mat-icon>
      </button>
    </div>

  </router-outlet>
</div>

