<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">

<div class="outer-container">
  <router-outlet>
    <div class="title-container">
    </div>
    <div class="title-container">
      <p class="page-subtitle"> Menu </p>
    </div>
    <main class="main">

      <div class="content">
        <div class="left-side">
          <p>Congratulations! Your app is running. 🎉</p>
        </div>
        <div class="divider" role="separator" aria-label="Divider"></div>
        <div class="center">

          <p>Congratulations! Your app is running. 🎉</p>
        </div>
        <div class="divider" role="separator" aria-label="Divider"></div>
        <div class="right-side">
          <p>Congratulations! Your app is running. 🎉</p>
        </div>
      </div>
    </main>
    <div class="button-container">
      <button class="pill" routerLink="/menu-recommendation-component">Obtener Reccomendacion</button>
    </div>
  </router-outlet>
</div>

