<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">

<!--
<div class="outer-container">
  <router-outlet>
    <div class="title-container">
      <p class="page-subtitle"> Disponibilidad de Horarios </p>
    </div>
    <main class="main">

      <div class="content">
        <mat-form-field class="custom-datepicker">
          <mat-label>Escoge una fecha</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        
      </div>
    </main>
    <div class="button-container">
      <button class="pill" routerLink="/time-recommendation-component" (click)="postDateRecommendation()">Ver Disponibilidad</button>
    </div>

    <div class="title" *ngIf="this.showRecommendationContent">
    <h3 class="page-title">Las opciones de hora para la fecha seleccionada son:</h3>
      <ul>
        <div *ngFor="let time of times">
            <label>
              <input type="radio" name="timeOption" [value]="time" (change)="updateSelection(time)">{{ time }}
            </label>
        </div>
      </ul>
      <div class="button-container"  *ngIf="this.isTimeSelected">
        <button class="pill" routerLink="/time-recommendation-component">Reservar</button>
      </div>
  </div>

  </router-outlet>
</div>
-->

<div class="table">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Fecha </th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>

  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef> Hora </th>
    <td mat-cell *matCellDef="let element"> {{element.time}} </td>
  </ng-container>

  <ng-container matColumnDef="quota">
    <th mat-header-cell *matHeaderCellDef> Cupos </th>
    <td mat-cell *matCellDef="let element"> {{element.quota}} </td>
  </ng-container>

  <ng-container matColumnDef="people">
    <th mat-header-cell *matHeaderCellDef> Personas </th>
    <td mat-cell *matCellDef="let element">
      <select [(ngModel)]="element.selectedPeople" name="people">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Reservar </th>
    <td mat-cell *matCellDef="let element">
      <button [disabled]="!isUser" (click)="reserve(element)">
        Reservar
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
    
</div>