<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">

<div class="outer-container">
  <router-outlet>
    <div class="title-container">
      <p class="page-subtitle"> Recomendacion de hora </p>
    </div>
    <main class="main">

      <div class="content">
        <mat-form-field class="custom-datepicker">
          <mat-label>Escoge una fecha</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        
      </div>
    </main>
    <div class="button-container">
      <button class="pill" routerLink="/time-recommendation-component" (click)="postDateRecommendation()">Ver Disponibilidad</button>
    </div>

    <div class="title" *ngIf="this.showRecommendationContent">
    <h3 class="page-title">Las opciones de hora para la fecha seleccionada son:</h3>
      <ul>
        <div *ngFor="let time of times">
          <p>{{ time }}</p>
        </div>
      </ul>
  </div>

  </router-outlet>
</div>

