.edit-data-container {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
  .mat-form-field {
    width: 100%;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
  }

  .button{
    display: flex;
    align-items: center;
    border-radius: 2.75rem;
    letter-spacing: -0.00875rem;
  }


  